<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="eclass.dogking.com.oneclass">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name=".Database.MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".WelcomeActivity"
            android:label="Eclass">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:label="主页" />
        <activity
            android:name=".LoginActivity"
            android:label="登录界面" >
        </activity>
        <activity
            android:name=".SignActivity"
            android:label="注册界面" >
        </activity>
        <activity
            android:name=".Tab4_1Activity"
            android:label="@string/title_activity_tab4_1" >
        </activity>
        <activity
            android:name=".Tab4_2Activity"
            android:label="@string/title_activity_tab4_2" >
        </activity>
        <activity
            android:name=".Tab4_3Activity"
            android:label="@string/title_activity_tab4_3" >
        </activity>
        <activity
            android:name=".Tab4_4Activity"
            android:label="@string/title_activity_tab4_4" >
        </activity>
        <activity
            android:name=".Tab4_5Activity"
            android:label="@string/title_activity_tab4_5" >
        </activity>
        <activity
            android:name=".Tab4_6Activity"
            android:label="@string/title_activity_tab4_6" >
        </activity>

        <activity
            android:name=".AdminActivity"
            android:label="AdminActivity" >
        </activity>

        <activity
            android:name=".UpdatemineActivity"
            android:label="UpdatemineActivity" >
        </activity>

        <activity
            android:name=".LectureActivity"
            android:label="LectureActivity" >
        </activity>

        <activity
            android:name=".LectureDataActivity"
            android:label="LectureDataActivity" >
        </activity>


        <activity
            android:name=".TeacherDataActvity"
            android:label="TeacherDataActvity" >
        </activity>

        <activity
            android:name=".ExerciseActivity"
            android:label="ExerciseActivity" >
        </activity>

        <activity
            android:name=".UserExerciseActivity"
            android:label="UserExerciseActivity" >
        </activity>

        <activity
            android:name=".UserExercisefinishActivity"
            android:label="UserExercisefinishActivity" >
        </activity>

        <activity
            android:name=".ExamActivity"
            android:label="ExamActivity" >
        </activity>

        <activity
            android:name=".ExamFinishActivity"
            android:label="ExamFinishActivity" >
        </activity>

        <activity
            android:name=".SearcheLectureActivity"
            android:label="SearcheLectureActivity" >
        </activity>

        <activity
            android:name=".VideoLecture"
            android:label="VideoLecture"
            android:configChanges="orientation|keyboardHidden|screenSize">
        </activity>

        <activity
            android:name=".TextLecture"
            android:label="TextLecture" >
        </activity>

        <activity
            android:name=".PasswordActivity"
            android:label="PasswordActivity" >
        </activity>

        <activity
            android:name=".ExamdetailActivity"
            android:label="ExamdetailActivity" >
        </activity>

        <activity
            android:name=".AdminSearch"
            android:label="AdminSearch" >
        </activity>

        <activity
            android:name=".AdminSearch2"
            android:label="AdminSearch2" >
        </activity>

        <activity
            android:name=".AdminSearch3"
            android:label="AdminSearch3" >
        </activity>

        <activity
            android:name=".AdminSearch4"
            android:label="AdminSearch4" >
        </activity>

        <activity
            android:name=".AdminSearch5"
            android:label="AdminSearch5" >
        </activity>

        <activity
            android:name=".AdminSearch6"
            android:label="AdminSearch6" >
        </activity>

        <activity
            android:name=".AdminExercise"
            android:label="AdminExercise" >
        </activity>

        <activity
            android:name=".AdminUpdata1"
            android:label="AdminUpdata1" >
        </activity>
        <activity
            android:name=".AdminUpdata2"
            android:label="AdminUpdata2" >
        </activity>
        <activity
            android:name=".AdminUpdata3"
            android:label="AdminUpdata3" >
        </activity>
        <activity
            android:name=".AdminUpdata4"
            android:label="AdminUpdata4" >
        </activity>
        <activity
            android:name=".AdminUpdata5"
            android:label="AdminUpdata5" >
        </activity>AdminNew

        <activity
            android:name=".AdminNew2"
            android:label="AdminNew2" >
        </activity>
        <activity
            android:name=".AdminNew3"
            android:label="AdminNew3" >
        </activity>
        <activity
            android:name=".AdminNew4"
            android:label="AdminNew4" >
        </activity>
        <activity
            android:name=".AdminNew5"
            android:label="AdminNew5" >
        </activity>
        <activity
            android:name=".AdminNew6"
            android:label="AdminNew6" >
        </activity>

    </application>

</manifest>